# Ignore Gradle project-specific cache directory
.gradle

# Ignore IntelliJ project-specific directory
.idea

# Ignore Gradle build output directory
build

# Ignore the application output file
output.csv
